

* {
    font-family: 'Microsoft JhengHei', sans-serif;
}

body {
    margin: 0%;
}

h1 {
    letter-spacing: 5px;
}

h2, h3 {
    font-weight: bold;
    letter-spacing: 10px;
    margin-left: 10px;
}

h4{
    font-weight: bold;
}

a:hover {
    border-bottom-color: transparent;
}

/* =========================================
=                   navbar                 =
============================================*/
#navbar {
    background: #2c3e50;
    transition: all .3s ease-in-out;
}

#navbar.alt {
    background: transparent;
    transition: all .3s ease-in-out;
}

.navbar-brand {
    transition: all .3s ease-in-out;
}

#navbar.alt .navbar-brand {
    opacity: 0;
    transition: all .3s ease-in-out;
}


/* ==================================
=               header              =
=====================================*/
#header {
    background-image: url('../image/people.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    display: flex;
}

#header>.container {
    position: relative;
    z-index: 2;
    color: white;
    display: grid;
    align-self: center;
}

#header:after {
    content: "";
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.title {
    letter-spacing: 10px;
}

.title:before {
    content: "< ";
    color:#2ecc71;
}

.title:after {
    content: " >";
    color: #2ecc71;
}

/*=============================== 
=            社團介紹            =
==================================*/


.iconarray {
    /* 排序圖示，不會換行 */
    display: flex;
    justify-content: center;
}

.iconarray .icon {
    font-size: 30px;
    background: #2980b9;
    border-radius: 100%;
    overflow: hidden;
    line-height: 70px;
    width: 70px;
    height: 70px;
    margin: 20px;
    display: inline-block;
    cursor: default;
}

.intro-card {
    width: 375px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    background: white;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.intro-card:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.intro-card> img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.intro-card-text {
    position: relative;
    color: #34495e;
    top: 250px;
}

/* 細部介紹 */

.card-order {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.detail>img {
    border-radius: .2em;
    width: 100%;
}

.detail-text-container {
    position: relative;
    padding: 15px;
    width: 100%;
} 
/* ===================================
=                 社徽               =
====================================== */
.logo {
    border-radius: .2em;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.logo-descrp {
    display: grid;
    align-self: center;
    width: 500px;
    height: 200px;
    margin: 10px;
    border-radius: .2em;
    overflow: hidden;
}

.logo-descrp-text-container {
    position: relative;
    top: 50px;
    left: 10px;
}

.logo-descrp-main {
    font-size: 1.5rem;
}

.logo-descrp-author {
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0.5;
}



/* ==================================
=                 課程              =
===================================== */
#lesson {
    background-position: center;
    background-size: cover;
}

.card-array {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lesson-card {
    background: rgba(53, 74, 95, 1);
    height: 170px;
    margin: 10px;
    width: 30%;
    min-width: 300px;
    display: flex;
    position: relative;
    border-radius: .2em;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.border-danger {
    border: 2px solid #ff1744;
}

.border-warning {
    border: 2px solid #ffea00;
}

.border-info {
    border: 2px solid #1de9b6;
}

@media (max-width: 1008px) and (min-width: 689px) {
    .lesson-card {
        width: 45%;
    }
} 

@media (max-width: 688px) {
    .lesson-card {
        width: 95%;
    }
} 

.lesson-card-text {
    position: absolute;
    top: 20px;
    left: 85px;
}

.lesson-card:hover {
    background: rgba(53, 74, 95, 1);
    transform: scale(1.02);
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s cubic-bezier(0,.59,.43,.99);
}

.lesson-card .icon {
    font-size: 30px;
    position: absolute;
    width: 75px;
    margin-top: 12.5px;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    overflow: hidden;
}

.lesson-btn {
    /* 課程卡片上的按鈕 */
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    letter-spacing: 5px;
    background: transparent;
    border: transparent;
    transition: all 0.3s ease-in-out;
}

.lesson-btn:focus {
    box-shadow: 0px 0px 0px transparent;
}

.modal-img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

/* ================================
=              活動                =
==================================== */


.tile {
    background-size: cover;
    background-position: center;
    min-height: 500px;
    width: 47.5%;
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: .2em;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.tile:hover {
    transform: scale(1.03);
    transition: all .3s cubic-bezier(0,.59,.43,.99);
}

.text-tile {
    /* 圖片上的字 */
    position: absolute;
    z-index: 2;
    color: white;
    width: 100%;
    top:50%;
    transform: translate(0, -50%);
}

[class^='tile']:after {
    /* 圖片的半透明遮罩 */
    content: "";
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4;
    z-index: 1;
}

.act-more-btn {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-self: center;
}

.act-more-btn-icon {
    font-size: 35px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    overflow: hidden;
    line-height: 70px;
    width: 70px;
    height: 70px;
    margin: 20px;
    transition: all .3s cubic-bezier(0,.59,.43,.99);
}

.act-more-btn-icon:hover {
    color: black;
    background: #ffffff;
    box-shadow: 0px 7.5px 20px rgba(0, 0, 0, 0.5); 
    transition: all .3s cubic-bezier(0,.59,.43,.99);
    transform: scale(1.2);
    cursor: pointer;
}

.act-more-btn-icon:active {
    color: black;
    background: #ffffff;
    opacity: 0.5;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); 
    transition: all .1s cubic-bezier(0,.59,.43,.99);
    transform: scale(1.05);
}

@media (max-width: 848px) {
    .tile {
        width: 95%;
    }
}

/* =============================
=           footer             =
================================ */
.footer-icon {
    color: rgba(255, 255, 255, 0.4);
    transition: all .25s ease-in-out;
    font-size: 30px;
    padding: 7.5px;
}

.footer-icon:hover {
    color: #ffffff;
    transition: all .25s ease-in-out;
}

.footer-section {
    margin-left: 5vw;
    margin-bottom: 20px;
    display: block;
}

.footer-section>a {
    color: white;
    transition: all .25s ease-in-out;
}

.footer-section>a:hover {
    color: #3498db;
    transition: all .25s ease-in-out;
}

.footer-about {
    color: rgba(255, 255, 255, 0.5);
    font-size: .85em;
}





/* mediaquery 576px以下啟用(手機) */
@media (max-width: 576px) {
    /* header */
    #header {
        min-height: 700px;
    }

    /* 社徽 */
    .logo-descrp {
        margin: 25px;
        width: 400px;
    }

    /* footer */
    .footer-section {
        margin-left: 10vw;
    }

}

