

* {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}

body {
    margin: 0%;
}

h1 {
    letter-spacing: 5px;
    margin-left: 5px;
}

h2, h3, h4 {
    font-weight: 500;
    letter-spacing: 10px;
    margin-left: 10px;
}

h5 {
    font-weight: 500;
}

a:hover {
    border-bottom-color: transparent;
}

.bg-fixed {
    background-attachment: fixed;
}

.btn-animated {
    position: relative;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    }
    .btn-animated::before {
        content: "";
        width: 0;
        background: #2780e3;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; 
        transition: all 0.3s ease-out;
        z-index: -1;
    }
    .btn-animated:hover {
        background: transparent;
        transition: all 0.3s ease-in-out;
    }
    .btn-animated:hover::before {
        width: 100%;
        transition: all 0.3s ease-in-out;
    }
    
/* =========================================
=                   navbar                 =
============================================*/
#navbar {
    transition: all .3s ease-in-out;
}

#navbar.alt {
    background: transparent !important;
    transition: all .3s ease-in-out;
}

.navbar-brand {
    transition: all .3s ease-in-out;
}

#navbar.alt .navbar-brand {
    opacity: 0;
    transition: all .3s ease-in-out;
}

@media (max-width: 576px) {
    #navbar.alt {
        background: #2c3e50;
        transition: all .3s ease-in-out;
    }
}




/* ==================================
=               header              =
=====================================*/
#header {
    background-image: url('../image/people.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;
    display: flex;
}

#header>.container {
    position: relative;
    z-index: 2;
    color: white;
    display: grid;
    align-self: center;
}

#header:after {
    content: "";
    display: block;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

.title {
    letter-spacing: 10px;
    font-weight: 500;
}

.title:before {
    content: "< ";
    color: rgba(255, 255, 255, 0.4);
}

.title:after {
    content: " >";
    color: rgba(255, 255, 255, 0.4);
}

/*=============================== 
=            社團介紹            =
==================================*/


.iconarray {
    /* 排序圖示，不會換行 */
    display: flex;
    justify-content: center;
}

.iconarray .icon {
    font-size: 30px;
    border-radius: 100%;
    overflow: hidden;
    line-height: 70px;
    width: 70px;
    height: 70px;
    margin: 20px;
    display: inline-block;
    cursor: default;
}

.intro-card {
    width: 375px;
    height: 500px;
    margin: 10px;
    padding: 10px;
    background: white;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.intro-card:hover {
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.intro-card> img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.intro-card-text {
    position: relative;
    color: #34495e;
    top: 250px;
}

/* 細部介紹 */
#intro-detail {
    position: relative;
}

#intro-detail::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #2780e3;
    z-index: 0;
}

.card-order {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.detail>img {
    width: 100%;
}

.detail-text-container {
    position: relative;
    padding: 15px;
    width: 100%;
} 
/* ===================================
=                 社徽               =
====================================== */
.logo {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.logo-descrp {
    display: grid;
    align-self: center;
    width: 500px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
}

.logo-descrp-text-container {
    position: relative;
    top: 50px;
    left: 10px;
}

.logo-descrp-main {
    font-size: 1.5rem;
}

.logo-descrp-author {
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0.5;
}



/* ==================================
=                 課程              =
===================================== */
#lesson {
    background-position: center;
    background-size: cover;
}

.card-array {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lesson-card {
    background: rgba(53, 74, 95, 1);
    height: 200px;
    margin: 10px;
    padding: 25px;
    width: 30%;
    min-width: 300px;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;}
    .lesson-card:hover {
        background: rgba(53, 74, 95, 1);
        transform: scale(1.02);
        transition: all 0.3s cubic-bezier(0,.59,.43,.99);
    }

@media (max-width: 1008px) and (min-width: 689px) {
    .lesson-card {
        width: 45%;
    }
} 

@media (max-width: 688px) {
    .lesson-card {
        width: 95%;
    }
} 

.lesson-card-text {
    position: relative;
    margin-top: 40px;
}


.lesson-card .icon {
    font-size: 30px;
    position: absolute;
    width: 75px;
    margin-top: 12.5px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.lesson-btn {
    /* 課程卡片上的按鈕 */
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: 500;
    letter-spacing: 5px;
    background: transparent;
    border: transparent;
    transition: all 0.3s ease-in-out;
    }
    .lesson-btn:focus {
        box-shadow: 0px 0px 0px transparent;
    }


.modal-img {
    width: 100%;
    height: auto;
}

/* ================================
=              活動                =
==================================== */

.act-item {
   margin-top: 2em;
}

.act-img {
    min-height: 275px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.act-descrp {
    padding: 1.5em;
    text-align: left;
    display: grid;
    align-self: center;
}

/* =============================
=           footer             =
================================ */
.back-to-top {
    margin-bottom: 2em;
}

.footer-icon {
    color: rgba(255, 255, 255, 0.4);
    transition: all .25s ease-in-out;
    font-size: 30px;
    padding: 7.5px;
}

.footer-icon:hover {
    color: #ffffff;
    transition: all .25s ease-in-out;
}

.footer-section {
    margin-bottom: 20px;
    display: block;
}

.footer-section>a {
    color: white;
    transition: all .25s ease-in-out;
}

.footer-section>a:hover {
    color: #3498db;
    transition: all .25s ease-in-out;
}

.footer-about {
    color: rgba(255, 255, 255, 0.5);
    font-size: .85em;
}





/* mediaquery 576px以下啟用(手機) */
@media (max-width: 576px) {
    /* header */
    #header {
        min-height: 700px;
    }

    /* 社徽 */
    .logo-descrp {
        margin: 25px;
        width: 400px;
    }
}

